body {
    margin:0;
    background-color: #040F16;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color:#88A0A8;
    font-size: 125%;
    width: 600px;
    text-align: center;
}

h1 {
    color: #0ac839;
}

pre code {
    background-color: #4a4a4a;
    border: 1px solid #999;
    color: white;
    display: block;
    padding: 10px;
    overflow-x: auto;
}
