body {
    margin: 0;
    height: 110vh;

    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, #040F16 100%), 
        url('../images/REM\ dashboard.PNG');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    
    background-color: #040F16;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color:#88A0A8;
    font-size: 125%;
    /*width: 600px;*/
    text-align: center;
}

h1 {
    color: #0ac839;
}

pre {
    color:#88A0A8;
    font-size: 125%;
    /*width: 600px;*/
    text-align: left;
}

pre code {
    background-color: #282828;
    border: 1px solid #999;
    color: white;
    display: block;
    padding: 10px;
    overflow-x: auto;
    text-align: left;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 100px;
    background-color: rgba(4, 15, 22, 0.9);
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;
}
