html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 110vh;
    
    background-color: #040F16;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    z-index: 2;
    height: 3rem;
}

.nav {
    background-color: #040F16;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    width: 100%;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;

    @media (max-width: 768px) {
        display: none;
    }
}

.nav--hidden {
    transform: translateY(-50px);
    box-shadow: none;
}

.contents {
    display: flex;
    align-items: center;
}

.contents a {
    color: #0ac839;
    text-decoration: none;
    font-size: 150%;
    margin: 15px 10px;
}

.social-media-icons {
    display: flex;
    align-items: center;
}

.social-media-icons a {
    color: #0ac839;
    font-size: 2rem;
    margin: 0px 10px;
}

p {
    color:#88A0A8;
    font-size: 125%;
    /*width: 600px;*/
}

h1 {
    color: #00ee00;
}

pre {
    color:#88A0A8;
    font-size: 125%;
    /*width: 600px;*/
    text-align: left;
}

pre code {
    background-color: #282828;
    border: 1px solid #999;
    color: white;
    display: block;
    padding: 10px;
    overflow-x: auto;
    text-align: left;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 100px;
    border-radius: 10px;
    background-color: rgba(4, 15, 22, 0.95);
}

.intro {
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.project-img {
    max-width: 80%;
    min-width: 40%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 10px;
}

.videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
